.page, body {
  /* background: #fff */
}
.document{
  position: relative;
}
.document-content{
  margin-top: 50px;
  background-color: #fff;
  border-radius: 16px;
  padding-bottom: 70px;
}
.document-content h1.title{
  padding: 0 8.5%;
  padding-top: 70px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 700;
}
.document-content span.time{
  display: block;
  text-align: center;
  width: 85.652%;
  max-width: 1430.016px;
  margin: 0 auto;
  padding: 0px 8.5%;
  font-size: 0.875em;
  color: #adadad;
}
.document-box{
  padding:20px
}
.document-box p{
  text-indent: 0em;
  word-break: break-word;
  overflow-wrap: break-word;
  color:#666;
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
  line-height: 1.42857143;
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 10px;
}

@media (min-width:992px) {
  .document-box{
    padding:0px 50px;
    margin-top: 30px;
  }
  .document-content h1.title{
    font-size: 38px;
  }
  .document-box p{
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 34px;
  }
}

@media (min-width:1200px){
  .document-box{
    padding:0px 100px;
    
  }
}

@media print {
  #head{
    display: none;
  }
  .document-box p{
    color:#000
  }
  body content .cortainer,content,body,html{
    width:100% !important
  }
  .document-box{
    padding:0px
  }
  .document-content h1.title{
    padding-top: 20px;
  }
  .document-content{
    margin-top: 0px;
  }

}