@charset "UTF-8";
/* Community Code */
.cm-page{
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cm-head{ 
 padding-top: 30px;
 padding-bottom: 50px;
 background-color: #DA0101;
 position: relative;
}
.cm-head::after{
  content: "";
  display: block;
  width:100%;
  height:28px;
  bottom:-28px;
  position: absolute;
  background-image: 
  linear-gradient(-182.45228218507685deg, #DA0101 50%, transparent 50%),
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAfJJREFUaEPV1YtSj1EUBfC1HubszythGIymiCKKIoooiiiiMBgG4414mLVMZhiXLv/LdzlnP8H+zey1F7+TRuFj8iuLh5BfQjpaNoT8HNKx3YMqF0J+Cun4r1QUCTH5sZJO/Bnt4iAmP1TSyX//U1kQ8n1Ip/Z6suVAyHchnd6vKcqAkG9DOnNQ3WUPIfkmSWcP6+ysISZfV9LIYYi8e4TcCWm0F0S+EHI7pLFeEXlCyJchnesHkR2E5FaSxvtFZAUx+bySLgyCyAdCboY0MSgiDwi5EdLkMIjuIeTTkC4Ni+gUQnI9SVN1IDqDmHxcSVfqQnQDIddCmq4T0T6EXA1ppm5EuxDyYUjXmkC0BiG5kqTZphCtQEguJ2muSUTjEJP3K+lG04hmIeRSSPNtIJqDkHdDutUWohEIycUkLbSJqB1CeyEBi20jaoXYvl0Bd7pA1Aex5wNY6gpRD8S+GcC9LhFDQ2jPJWC5a8RQENqzCVjJATEwRPb1I8CDXBCDQeyZAFZzQvQPsacDWMsN0RfE9tUKeJQjomcI7akErOeK6AlC+3ICnuSMOBxiTwawkTviYIg9EcBmCYh9IbYvVsCzUhB7QmiPJ2CrJMR/ENrnE/CiNMTfEHssgO0SEb8htkcrYKdUxE/IN2CkAl6VjNjd/QebbgDI3ef2RQAAAABJRU5ErkJggg==);
  text-align: center;
	background-size: 100%, cover;
	background-repeat: no-repeat;
}
.cm-head__box{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.cm-head__navbar{
  display: flex;
  height:35px;
  padding:0px 20px;
  margin-bottom: 5px;
  width:100%;
}
.cm-head__navbar .logo{
  width:70px;height:100%;
  background-image: url(/image/logo_white.png);
  background-size: 88% auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
  flex-shrink: 0;
}
.cm-head__navbar form{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
}
.cm-head__navbar form::before{
  position: absolute;
  display: block;
  content:"\e7b3";
  font-family: 'iconfont';
  color:#fff;
  opacity: 0.8;
  font-size: 18px;
  z-index: 1;
  width:12px;
  height:12px;
  line-height: 12px;
  top:11.5px;
  left:10px;
}
.cm-head__navbar input{
  background-color: #ffffff25;
  border:0;
  outline: none;
  height:100%;
  border-radius: 10px;
  width:100%;
  padding:6px 12px;
  line-height: 24px;
  font-size: 13px;
  color:#fff;
  padding-left: 32px;
}

.cm-page input::-webkit-input-placeholder{
  color:#fff !important;
  opacity: 0.8;
}
.cm-page input:-moz-placeholder {
  color:#fff !important;
  opacity: 0.8;
}
.cm-page input::-moz-placeholder {
  color:#fff !important;
  opacity: 0.8;
}
.cm-page input:-ms-input-placeholder {
  color:#fff !important;
  opacity: 0.8;
}
.cm-head__navbar .user{
  height:35px;
  width:35px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.cm-head__navbar .user img{
  height:28px;
  width:28px;
  border-radius: 14px;
  overflow: hidden;
}
.cm-head__tabbar{
  padding: 16px 0px;
  width:100%;
  display: block;
}
.cm-head__tabbar ul{
  display: flex;
  padding-left: 20px;
  width:100%;
  overflow: auto;
  flex-basis: 56px;
  flex-shrink: 0;;
  white-space: nowrap ;
  overflow-x: auto;
}
.cm-page ::-webkit-scrollbar{
  height:2px;
  width:2px;
}
.cm-page ::-webkit-scrollbar-thumb{
  background-color: transparent
}
.cm-head__tabbar ul li{
  padding:6px 12px;
  line-height: 21px;
  font-size: 15px;
  margin:0 6px;
  color:#fff;
  opacity: 0.65;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 4px;
}
.cm-head__tabbar ul li:first-child{
  margin-left: 0;
}
.cm-head__tabbar ul li.active{
  opacity: 1;
  background-color: #00000020;
}
.cm-page .content{
  margin-top: -50px;
  position: relative;
  z-index: 10;
}
.cm-page .con{
  padding:0 20px;
}
.cm-panel{
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  margin-bottom: 20px;
}
.cm-panel__bg{
  width:100%;
  height:100%;
  display: block;
  position: relative;
  max-height: 170px;
  min-height: 150px;
}
.cm-panel__bg::before{
  content:"";
  display: block;
  position: absolute;
  width:100%;
  height:100%;
  z-index: 1;
  background:linear-gradient(90deg,#000a, transparent);
}
.cm-panel__bg img{
  width:100%;
}
.cm-panel__box{
  position: absolute;
  width:calc(50% + 22px);
  top:0;left:0;
  height:100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:16px 22px;
  justify-content: space-between;
}
.cm-panel__im{
  display: block;
  padding:4px 6px;
  background-color:#DA0101;
  color:#fff;
  font-size: 12px;
  border-radius: 5px;
}
.cm-panel__title{
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color:#fff;
}
.cm-panel__info{
  font-size: 13px;
  color:#fffb;
}

.cm-sm-panel{
  display: block;
  margin-bottom: 20px;
  padding-left: 20px;
}
.cm-sm-panel ul{
  width:100%;
  height:86px;
  display: flex;
  flex-shrink: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  flex-basis: 200px;
}
.cm-sm-panel ul li{
  flex-shrink: 0;
  height:84px;
  margin-right: 14px;
  border-radius: 6px;
  border:2px solid #f9f9f9;
  padding:8px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: space-between;
  max-width: 220px;
  width:200px;
}
.cm-sm-panel ul li.date-panel{
  width:70px;
  padding: 0;
}
.cm-sm-panel ul li .t{
  font-size: 14px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1.8px;
  line-height: 19px;
}
.cm-sm-panel ul li .c{
  font-size: 11px;
  color:#222;
  opacity: 0.6;
}
.cm-sm-panel ul li.date-panel .d{
  width:100%;
  display: block;
  padding:2px 0px;
  text-align: center;
  font-size: 12px;
  color:#666;
  background-color: #f9f9f9;
}
.cm-sm-panel ul li.date-panel .t{
  display: flex;
  height:62px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.cm-sm-panel ul li.date-panel .t span{
  font-size: 15px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 3px;
  line-height: 19px;
  text-align: center;
  color:#222
}
.cm-sm-panel ul li.date-panel .t span:last-child{
  color:#DA0101
}

.cm-news-list{
  display: block;
}
.cm-news-list .news-title{
  width:100%;
  height:28px;
  line-height:28px;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  padding:0 20px;
}

.cm-news-list ul{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.cm-news-list ul> *{
  display: flex;
  padding:18px 22px;
  padding-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  border-bottom: 1px solid #ededed;
  position: relative;
}

.cm-news-list ul>*:hover{
  background-color: #fafafa;
}

.cm-news-list span.high{
  color:#0032d8;
  font-weight: 700;
}

.cm-news-list ul>* .ba{
  display: block;
  width:calc(100% - 100px);
  margin-right: 20px;
  overflow: hidden;
}
.cm-news-list ul>* .ba .t{
  display: block;
  width:100%;
  height:30px;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color:#333;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space: nowrap;
}
.cm-news-list ul>* .ba .c{
  display: block;
  width:100%;
  max-height:46px;
  font-size: 14px;
  font-weight: normal;
  color:#999;
  line-height: 23px;
}
.cm-news-list ul>* .i{
  display: block;
  width:80px;
  height:80px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fafafa;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.cm-news-list ul>* .da{
  display: flex;
  width:100%;
  height:16px;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}
.cm-news-list ul>* .da .a{
  color:#aaa;
  font-size: 12px;
}
.cm-news-list ul>* .da .a[g]{
  color:rgb(21, 150, 255);
  font-size: 12px;
}
.cm-news-list ul>* .da .a[z]{
  color:rgb(255, 146, 44);
  font-size: 12px;
}
@font-face {
  font-family: "iconfont-cm"; /* Project id 3138748 */
  src: url('//at.alicdn.com/t/font_3138748_t0aixsshm8p.woff2?t=1644198066798') format('woff2'),
       url('//at.alicdn.com/t/font_3138748_t0aixsshm8p.woff?t=1644198066798') format('woff'),
       url('//at.alicdn.com/t/font_3138748_t0aixsshm8p.ttf?t=1644198066798') format('truetype');
}
.cm-news-list ul>* .da .a::before{
  content: "\e680";
  display: inline;
  font-family: 'iconfont-cm';
  margin-right: 4px;
}
.cm-news-list ul>* .da .d{
  font-size: 12px;
  color:#aaa;
}

.cm-news-list ul>*.i3,.i0{
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}
.cm-news-list ul>*.i3 >*{
  flex:1
}
.cm-news-list ul>*.i3 .ba,.cm-news-list ul>*.i0 .ba{
  width:100%;
  margin-right: 0;
}
.cm-news-list ul>*.i3 .i-box{
  display: flex;
  margin-top: 8px;
}
.cm-news-list ul>*.i3 .i{
  width:calc(calc(100% - 30px) / 3);
  height:86px;
  margin-right: 15px;
  background-size: 100% auto;

}
.cm-news-list ul>*.i3 .i:last-child{
  margin-right: 0;
}

.cm-newspage-footer{
  background: #f7f8fa;
  color: #a8abb0;
  font-size: 12px;
  padding: 23px 0;
  text-align: center;
  position: relative;
  font-family:'Microsoft YaHei',Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-top: 15px;
}
.cm-newspage-footer>div:first-child{
  margin-bottom: 15px;
}
.cm-newspage-footer .links a:first-child{
  margin-right: 10px;
}
.cm-newspage-footer .links a:not(.cm-newspage-footer .links a:first-child){
  padding-left: 10px;
  margin-right: 10px;
  border-left: 1px solid #ededed;
}




/* UserPage Code */
.user-page .con{
  padding:0px 18px;
}
.up-card{
  margin-top: 18px;
  background-color: #fff;
  border-radius: 14px;
}
.up-card__main{
  border-radius: 14px;
  height:280px;
  padding:18px 22px;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  /* background-color: #fafafa; */
  min-height: 210px;
  max-height: 280px;
  position: relative;
  /* background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat; */
  /* background-image: url(/image/banner.jpg); */
}
.up-card__description{
  padding:15px 22px;
  line-height: 16px;
  font-size: 14px;
  opacity: 0.85;
}
.up-card__us{
  height:66px;
  width:100%;
  position: relative;
  display: flex;
}
.up-card__main.w{
  color:#fff
}
.up-card__us-img{
  width:66px;
  height:66px;
  border-radius: 40px;
  background-color: #f1f1f1;
  margin-right: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.up-card__us-img img{
  width:100%;
  height:100%;
}
.up-card__bg{
  width:100%;
  height:100%;
  position: absolute;
  z-index: 0;
  top:0;left:0;
}
.up-card__bg img{
  width:100%;
}
.up-card__us-box{
  height:66px;
  width:100%;
  padding:8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.up-card__us-box h1{
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 1px;
  vertical-align: bottom;
  line-height: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.up-card__us-box h1 small{
  font-size: 15px;
  margin-left: 10px;
}
.up-card__us-box .tel{
  width:100%;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.95;
}
.up-card__im ul li{
  width:100%;
  height:16px;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 0.90;
  white-space: nowrap;
}
.up-navigation{
  margin-top: 28px;
}
.up-navigation>ul{
  width:100%;
  display: flex;
  /* padding-left: 20px; */
  overflow: auto;
  flex-basis: 56px;
  flex-shrink: 0;
  white-space: nowrap;
  overflow-x: auto;
  justify-content: center;
  /* margin-bottom: 20px; */
  overflow: initial;
}
.up-navigation>ul>li{
  padding: 8px 14px;
  line-height: 21px;
  font-size: 15px;
  color:#555;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: rgb(243, 243, 243);
  position: relative;
  cursor: pointer;
}
.up-navigation>ul>li::after{
  content:"";
  display: block;
  position: absolute;
  width:calc(100% - 2px);
  height:calc(100% - 4px);
  top:2px;
  left:1px;
  right:1px;
  box-shadow: 0px 0px 4px #ccc;
  z-index: -2;
}
.up-navigation>ul>li:first-child{
  border-top-left-radius: 10px;
}
.up-navigation>ul>li:first-child::after{
  border-top-left-radius: 8px;
}
.up-navigation>ul>li:last-child{
  border-top-right-radius: 10px;
}
.up-navigation>ul>li:last-child::after{
  border-top-right-radius: 8px;
}
.up-navigation>ul>li.active{
  background-color: #fff;
}
.tabs-content{
  background-color: #fff;
  border-radius: 12px;
  padding:12px 10px
}
.tabs-content>div{
  display: none;
  min-height: 150px;
}
.tabs-content>div.active{
  display: block;
}
.tabs-content>div .cm-news-list ul{
  border-radius: 12px;
  overflow: hidden;
}
.tabs-content>div .cm-news-list ul>*:last-child{
  border-bottom:0;
}


/* Product */
.pd-root .container{
  margin-top: 0!important;
  padding-top: 0!important;
  font-family: montserrat,sans-serif;
}

.pd-panel{
  /* height: 100%; */
  width: 100%;
  height: 100vh;
  position: relative;
  background: #ededf5 url(../img/intro-bg.jpg) center top no-repeat;
  background-size: cover;
}
.pd-panel__bg{
  position: absolute;
  z-index: -1;
  width:100%;
  height:100%;
}
.pd-panel__box{
  height:100%;
  width: 100%;
  padding:0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  transition: .1s;
}
.pd-panel-box{
  width:100%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  transition: .1s;
}
.pd-Swiper section{
  overflow: hidden;
  position: relative;
}
.section-content{
  width:100%;
}
.pd-panel__title{
  padding:0 15px;
  color: #0f416a;
}
.pd-panel__title h1{
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  transition: .1s;
}
.pd-panel__title h3{
  font-size: 18px;
  line-height: 23px;
  transition: .1s;
}
.pd-panel__content{
  padding:0 15px;
  padding-top: 16px;
  transition: .1s;
}
.pd-panel__buttonbox{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pd-panel__button{
  margin-right: 18px;
  margin-bottom: 18px;
  font-family: montserrat,sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 28px;
  border-radius: 10px;
  transition: .1s;
  color:#270f6a;
  background: #dfdbf1;
  cursor: pointer;
}
.pd-panel__button.active{
  color:#fff;
  background-color: #5425f1;
}
.pd-panel-description{
  margin-bottom: 50px;
  padding:0px 16px;
}
.pd-panel-description__bg{
  /* margin-top: -50px; */
  width:85%;
  margin:auto;
}
.pd-panel-description img{
  width:100%;
}
.section-header{
  margin-top:70px;
  width:100%;
}
.section-header h2{
  font-size: 36px;
  color: #0f416a;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: montserrat,sans-serif;
  margin: 0 0 20px;
}
.section-header h3 {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #0f416a;
  width: 80%;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 20px;
  opacity: 0.7;
}
.center_side-right-bottom_img{
  text-align: center;
}
.center_side-right-bottom_img img{
  max-width: 85%;
  width:280px;
  border-radius: 20px;
  box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%)
}
.pd-panel__button:last-child{
  margin-right:0 !important;
}
@media (max-width: 500px){
  .pd-panel__buttonbox{
    padding-top: 24px;
  }
  .pd-panel__button{
    width:90%;
    margin:10px auto!important;
    text-align: center;
  }
}

@media (min-width: 576px){
  .pd-panel__box {
    max-width: 540px;
  }
  .pd-panel__title h3{
    font-size: 20px;
    line-height: 28px;
  }
}
@media (min-width: 768px){
  .pd-panel-description{
    margin: 0;
  }
  .pd-panel-description__bg{
    margin:0;
    width:100%;
  }
  .pd-panel__box {
    max-width: 720px;
  }
  .pd-panel-box>div{
    width:50%;
  }
  .pd-panel-content{
    order: -1;
  }
  .pd-panel__title h1{
    font-size: 39px;
    margin-bottom: 40px;
    line-height: 47px;
  }
  .pd-panel__buttonbox{
    padding-top: 14px;
    justify-content: flex-start;
  }
  .pd-panel__title h3{
    font-size: 22px;
    line-height: 30px;
  }
  .section-header{
    margin-top:90px;
  }
}
@media (min-width: 992px){
  .pd-panel__box {
    max-width: 960px;
  }
  .pd-panel__title{
    padding-top: 80px;
  }
  .pd-panel__title h3{
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 1200px){
  .pd-panel__box {
    max-width: 1140px;
  }
}


/* .swiper-slide.dark{
  background-color: rgb(33, 18, 59);
} */

.swiper-slide.dark *{
  color:#fff;
} 





/* PDBX DBC */
.pd-box{
  min-height: 100px;
  margin: 0 10px 40px;

}

.pd-box>a{
  display: block;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
  transition: all .3s ease-in-out;
  text-align: center;
}
.pd-box>a:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.pd-box .icon{
  margin: 0 auto 15px;
  /* padding-top: 12px; */
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding:10px;
  box-shadow: 0 0 8px 4px rgba(0,0,0,0.05);
  overflow: hidden;
  line-height: 50px;
  vertical-align: middle;
}
.pd-box .title{
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.pd-box .content{
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}
.pd-box .icon i,.pd-box .icon img{
  width:100%;
  font-size: 36px;
  vertical-align: middle;
  line-height: 1;
}
.pd-box .state{
  height:28px;
  padding:0px 8px;
  border-bottom-left-radius: 10px;
  font-size: 12px;
  line-height: 28px;
  position: absolute;
  top:0;right:0;
}
.DBC{
  font-size: 13px;
  color:var(--ActiveColor);
  vertical-align: middle;
  user-select: none;
  margin: 0 10px 40px;

}
.DBC span{
  border:1px solid var(--BdActiveColor);
  background-color: var(--BgActiveColor);
  color:#fff;
  padding:4px 6px;
  border-radius: 4px;
  opacity: 0.86;
  user-select: none;
}